.card {
  border: none;
  box-shadow: 1px 1px 0px 1px rgba(218, 213, 213, 0.14);
}
.font-w {
  font-size: 2rem;
  text-align: center;
  color: dimgray;
  letter-spacing: 0.3px;
}
.sec-add {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  float: right;
  margin-right: 20px;
  button {
    background: crimson;
    border: none;
    width: 50px;
    height: 50px;
    color:white
  }
}
.border-cus{
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 0.2px solid #f5e5e6;
}

:focus {
    outline: thick double transparent;
}
#button-basic{
  background: brown;
  width: 30px;
  height: 30px;
  font-size: small;
  padding: 0.1rem;
  border: none;
}
.dropdown-toggle::after {
  display: none;
}
.dropdown-menu.show {
  display: block;
  left: auto !important;
  right: 0 !important;
  top: 100%;
  transform: translateY(0px);
  bottom: auto;
}