<h1>Lista</h1>
<ng-container *ngIf="tasks" style="padding:5em;">
  <li *ngFor="let task of tasks" style="padding:2em;">
    <span>{{task.title}}</span>
    <p>{{task.description}}</p>
    <button class="btn btn-primary" (click)="updateForm(task)">Editar</button>
    <button class="btn btn-danger"  (click)="delete(task.id)">borrar</button>
  </li>
</ng-container>

<ng-container *ngIf="!tasks" >
  <p>lista de tareas vacia</p>
</ng-container>



<button *ngIf="!isFormActive"  class="btn btn-primary btn-block" (click)="showForm()" >Crear Una Tarea</button>

<form *ngIf="isFormActive"  [formGroup]="taskForm" (ngSubmit)="onSubmit()">

  <div class="form-group">
    <label for="">titulo</label>
    <input type="text" formControlName="title" placeholder="titulo">
  </div>

  <div class="form-group">
    <label for="">descripcion</label>
    <textarea name="" formControlName="description" placeholder="descripcion" id="" cols="30" rows="10"></textarea>
  </div>

  <button *ngIf="!isUpdateTask"  type="submit" class="btn btn-primary">crear tarea</button>
  <button *ngIf="isUpdateTask"  type="button" (click)="edit()"  class="btn btn-primary">actualizar tarea</button>
  <button type="button" (click)="hideForm()"  class="btn btn-danger">cancelar</button>
</form>